@import "tailwindcss";

/* NProgress custom styling */
#nprogress .bar {
  background: #396254 !important;
  height: 3px !important;
}

#nprogress .peg {
  box-shadow: 0 0 10px #396254, 0 0 5px #396254 !important;
}
